.btn{
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #9400D3;
  border-radius: 0.6em;
  color: #9400D3;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: -10px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

}

p { text-align: justify; }

.btn:hover, .btn:focus {
  color: #9400D3;
  outline: 0;
  box-shadow: 0 0 40px 40px #D8BFD8 inset;
}



.jumbotron {
  background-image: url(../img/vitrine.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.footer {
  margin-top: 2em;
  background: #e6e6e6;
  padding: 40px 0;
  border-top: 1px solid #AAA;
}

.footer .container {
  position: relative;
}

p.remark {
  border: 2px solid red;
  padding: 4px;
  margin-left: 24px;
  }
  .formula{
    text-align: center;
  }

  .imagem {
    margin:0 auto; 
    width:100px;
  }



